*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}
div{
    background-image: url("R.jpeg");
    height: 100vh;
    background-size: cover;
   
    
}
.bar{
    font-size: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: wheat;
}
