div{
    height: 500px;
    width: 500px;
    background-color:greenyellow ;
    transition: 1s;
}
div:hover{
    background-image: url("https://www.bing.com/th?id=OIP.gHj16ycFhH8MWHsj2Ri3SgHaLE&w=131&h=185&c=8&rs=1&qlt=90&r=0&o=6&dpr=1.3&pid=3.1&rm=2");   
    border-radius: 50%; 
}