#a{
    height: 50px;
    width: 200px;
    border: 5px solid pink;
    background-color: rgb(197, 102, 178);
    transform: rotate(45deg);
}
#b{
    height: 50px;
    width: 200px;
    border: 5px solid pink;
    background-color: rgb(213, 68, 184);
}
#c{
    height: 50px;
    width: 200px;
    border: 5px solid pink;
    background-color: rgb(196, 27, 162);
    transform: rotate(200deg);
}
