/* .a{
    font-family: 'Courier New';
}
h1{
    color:#1b74e4;
}
#searchbtn{
    color:white;
    background-color: black;
}
#Register,#Login{

    background-color: aqua;
} */
 /* h3+p{
    color:#1b74e4;
} */
#myid{
    color:green;
}
div>p{
    text-decoration:underline;
}